#table-wrapper {
    display: block;
    width: 1000px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#example1 thead {
    cursor: pointer;
    background: #c9dff0;
}
#example1 thead tr th {
    font-weight: bold;
    padding: 12px 20px 12px 32px;
}
#example1 thead tr th span {
    padding-right: 20px;
    background: no-repeat 100% 100%;
}

#example1 thead tr th.headerSortUp, #example1 thead tr th.headerSortDown {
    background: #acc8dd;
}

#example1 tbody tr {
    color: #555;
}
#example1 tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
#example1 tbody tr td.lalign {
    text-align: left;
}